@model taaproject.Models.HomeViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Detail";
    int countFeatures = 0;
    double totalWorks = Model.Work.Count + Model.Work.Sum(it => it.StoryList.Count()) + Model.Work.Sum(it => it.StoryList.Sum(its => its.TaskList.Count()));
    double activeWorks = Model.Work.Where(it => it.Status == taaproject.Services.WorkService.WorkStatus.Active.ToString()).Count() +
                         Model.Work.Sum(it => it.StoryList.Where(its => its.Status == taaproject.Services.WorkService.WorkStatus.Active.ToString()).Count()) +
                         Model.Work.Sum(it => it.StoryList.Sum(its => its.TaskList.Where(task => task.Status == taaproject.Services.WorkService.WorkStatus.Active.ToString()).Count()));
    double completedWorks = Model.Work.Where(it => it.Status == taaproject.Services.WorkService.WorkStatus.Done.ToString()).Count() +
                            Model.Work.Sum(it => it.StoryList.Where(its => its.Status == taaproject.Services.WorkService.WorkStatus.Done.ToString()).Count()) +
                            Model.Work.Sum(it => it.StoryList.Sum(its => its.TaskList.Where(task => task.Status == taaproject.Services.WorkService.WorkStatus.Done.ToString()).Count()));
}


<div style="margin: 2em 0em">
    <a class="btn btn-lg btn-default" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    <h2>Working Board</h2>
    <hr />

    <div class="well row">
        <div class="col-md-3 text-center">
            <img src="https://dummyimage.com/200x200/000/fff" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-6">
                    <dl>
                        <dt>ชื่อ</dt>
                        <dd>@Model.ProjectName</dd>
                        <dt>ชื่อเจ้าของโปรเจค</dt>
                        <dd>@Model.ProjectOwner</dd>
                        <dt>งานทั้งหมดที่มี</dt>
                        <dd>@totalWorks</dd>
                        <dt>งานทั้งหมดที่กำลังดำเนินการ (ร้อยละ)</dt>
                        <dd>@activeWorks (@string.Format($"{((activeWorks / totalWorks) * 100):00}") %)</dd>
                        <dt>งานทั้งหมดที่เสร็จ (ร้อยละ)</dt>
                        <dd>@completedWorks (@string.Format($"{((completedWorks / totalWorks) * 100):00}") %)</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl>
                        <dt>วันที่สร้าง</dt>
                        <dd>@Model.CreateDate.Date.ToShortDateString()</dd>
                        <dt>วันที่เริ่ม</dt>
                        <dd>@Model.StartDate.Date.ToShortDateString()</dd>
                        <dt>วันที่เสร็จสิ้น</dt>
                        @if (Model.FinishDate.HasValue)
                        {
                            <dd>@Model.FinishDate.Value.Date.ToShortDateString()</dd>
                        }
                        else
                        {
                            <dd>-</dd>
                        }
                    </dl>
                </div>
            </div>
            <dl>
                <dt>รายละเอียด</dt>
                <dd>@Model.Description</dd>
            </dl>
            <a class="btn btn-primary pull-right" asp-action="Edit" asp-route-id="@Model._id">Edit</a>
        </div>
    </div>

    @foreach (var feature in Model.Work)
    {
        int countStories = 0;
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionFeature" href="@($"#collapseFeature{++countFeatures}")">
                        Feature @(countFeatures): @(feature.WorkName)
                    </a>
                    <a class="btn btn-sm" asp-controller="Home" asp-action="EditFeature" asp-route-featureid="@feature._id"><span class="glyphicon glyphicon-pencil"></span></a>
                    <label class="pull-right">@feature.Status</label>
                </h4>
            </div>
            <div id="@($"collapseFeature{countFeatures}")" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        @feature.Description
                    </p>

                    @foreach (var story in feature.StoryList)
                    {
                        int countTasks = 0;
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionStory" href="@($"#collapseFeature{countFeatures}collapseStory{++countStories}")">
                                        Story @(countStories): @(story.WorkName)
                                    </a>
                                    <a class="btn btn-sm" asp-controller="Home" asp-action="EditStory" asp-route-storyid="@story._id"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <label class="pull-right">@story.Status</label>
                                </h4>
                            </div>
                            <div id="@($"collapseFeature{countFeatures}collapseStory{countStories}")" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        @story.Description
                                    </p>

                                    @foreach (var task in story.TaskList)
                                    {
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordionStory" href="@($"#collapseFeature{countFeatures}collapseStory{countStories}collapseTask{++countTasks}")">
                                                        Task @(countTasks): @(task.WorkName)
                                                    </a>
                                                    <a class="btn btn-sm" asp-controller="Home" asp-action="EditTask" asp-route-taskid="@task._id"><span class="glyphicon glyphicon-pencil"></span></a>
                                                    <label class="pull-right">@task.Status</label>
                                                </h4>
                                            </div>
                                            <div id="@($"collapseFeature{countFeatures}collapseStory{countStories}collapseTask{countTasks}")" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        @story.Description
                                                    </p>

                                                    <a class="btn btn-lg btn-danger" asp-controller="Home" asp-action="RemoveTask" asp-route-projectid="@Model._id" asp-route-taskid="@task._id"><span class="glyphicon glyphicon-remove"></span>  Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <a class="btn btn-lg btn-warning" asp-controller="Home" asp-action="AddNewTask" asp-route-projectid="@Model._id" asp-route-storyid="@story._id"><span class="glyphicon glyphicon-plus"></span>  New Task</a>
                                    <a class="btn btn-lg btn-danger" asp-controller="Home" asp-action="RemoveStory" asp-route-projectid="@Model._id" asp-route-storyid="@story._id"><span class="glyphicon glyphicon-remove"></span>  Remove</a>
                                </div>
                            </div>
                        </div>
                    }

                    <a class="btn btn-lg btn-success" asp-controller="Home" asp-action="AddNewStory" asp-route-projectid="@Model._id" asp-route-featureid="@feature._id"><span class="glyphicon glyphicon-plus"></span>  New Story</a>
                    <a class="btn btn-lg btn-danger" asp-controller="Home" asp-action="RemoveFeature" asp-route-projectid="@Model._id" asp-route-featureid="@feature._id"><span class="glyphicon glyphicon-remove"></span>  Remove</a>
                </div>
            </div>
        </div>
    }

    <div class="clearfix">
        <div class="pull-left">
            <a class="btn btn-lg btn-primary" asp-controller="Home" asp-action="AddNewFeature" asp-route-projectid="@Model._id"><span class="glyphicon glyphicon-plus"></span>  New feature</a>
            <a class="btn btn-lg btn-default" asp-controller="Membership" asp-action="Index" asp-route-projectid="@Model._id"><span class="glyphicon glyphicon-user"></span> Manage member</a>
        </div>
    </div>
</div>