@model taaproject.Models.HomeViewModels.ProjectViewModel
@{
    ViewData["Title"] = "Detail";
    int count = 0;
}


<div style="margin: 2em 0em">
    <a class="btn btn-lg btn-default" asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    <h2>Working Board</h2>
    <hr />

    <div class="well row">
        <div class="col-md-3 text-center">
            <img src="https://dummyimage.com/200x200/000/fff" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-6">
                    <dl>
                        <dt>Project Name</dt>
                        <dd>@Model.ProjectName</dd>
                        <dt>Project Manage</dt>
                        <dd>@Model.ProjectOwner</dd>
                        <dt>Work process</dt>
                        <dd>@Model.Work.Count</dd>
                        <dt>Work Completed (percent)</dt>
                        <dd>0 (0%)</dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl>
                        <dt>Create Date</dt>
                        <dd>@Model.CreateDate.Date.ToShortDateString()</dd>
                        <dt>Start Date</dt>
                        <dd>@Model.StartDate.Date.ToShortDateString()</dd>
                        <dt>Finish Date</dt>
                        @if (Model.FinishDate.HasValue)
                        {
                            <dd>@Model.FinishDate.Value.Date.ToShortDateString()</dd>
                        }
                        else
                        {
                            <dd>-</dd>
                        }
                    </dl>
                </div>
            </div>
            <dl>
                <dt>Description</dt>
                <dd>@Model.Description</dd>
            </dl>
            <a class="btn btn-primary pull-right" asp-action="Edit" asp-route-id="@Model._id">Edit</a>
        </div>
    </div>

    @foreach (var item in Model.Work)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionFeature" href="@("#collapse" + ++count)">
                        Feature @(count): @(item.WorkName)
                    </a>
                    <a class="btn btn-sm" asp-controller="Home" asp-action="EditFeature" asp-route-featureid="@item._id"><span class="glyphicon glyphicon-pencil"></span></a>
                    <label class="pull-right">@item.Status</label>
                </h4>
            </div>
            <div id="@("collapse" + count)" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        @item.Description
                    </p>
                    <a class="btn btn-lg btn-success" asp-controller="Home" asp-action="AddNewStory"><span class="glyphicon glyphicon-plus"></span>  New Story</a>
                    <a class="btn btn-lg btn-danger" asp-controller="Home" asp-action="RemoveFeature" asp-route-projectid="@Model._id" asp-route-featureid="@item._id"><span class="glyphicon glyphicon-remove"></span>  Remove</a>
                </div>
            </div>
        </div>
    }


    @*<div class="panel-group" id="accordionFeature">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionFeature" href="#collapse1">
                            Feature 1: Login system
                        </a>
                        <a class="btn btn-sm" asp-controller="Home" asp-action="EditFeature"><span class="glyphicon glyphicon-pencil"></span></a>
                        <label class="pull-right">Active</label>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                        <div class="panel-group" id="accordionStory">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionStory" href="#collapse1-1">
                                            Story 1: User Interface
                                        </a>
                                        <a class="btn btn-sm" asp-controller="Home" asp-action="EditStory"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <label class="pull-right">Active</label>
                                    </h4>
                                </div>
                                <div id="collapse1-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat.
                                        </p>
                                        <div class="panel-group" id="accordionTask">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionTask" href="#collapse1-1-1">
                                                            Task 1: Design wirefarm
                                                        </a>
                                                        <a class="btn btn-sm" asp-controller="Home" asp-action="EditTask"><span class="glyphicon glyphicon-pencil"></span></a>
                                                        <label class="pull-right">Done</label>
                                                    </h4>
                                                </div>
                                                <div id="collapse1-1-1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                        commodo consequat.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionTask" href="#collapse1-1-2">
                                                            Task 2: Implement UI follows wirefarm
                                                        </a>
                                                        <a class="btn btn-sm" asp-controller="Home" asp-action="EditTask"><span class="glyphicon glyphicon-pencil"></span></a>
                                                        <label class="pull-right">Active</label>
                                                    </h4>
                                                </div>
                                                <div id="collapse1-1-2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                        commodo consequat.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionTask" href="#collapse1-1-3">
                                                            Task 3: Design real UI
                                                        </a>
                                                        <a class="btn btn-sm" asp-controller="Home" asp-action="EditTask"><span class="glyphicon glyphicon-pencil"></span></a>
                                                        <label class="pull-right">Active</label>
                                                    </h4>
                                                </div>
                                                <div id="collapse1-1-3" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                        commodo consequat.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionTask" href="#collapse1-1-4">
                                                            Task 4: Implement UI follows real UI
                                                        </a>
                                                        <a class="btn btn-sm" asp-controller="Home" asp-action="EditTask"><span class="glyphicon glyphicon-pencil"></span></a>
                                                        <label class="pull-right">New</label>
                                                    </h4>
                                                </div>
                                                <div id="collapse1-1-4" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                        commodo consequat.
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="collapse1-1-4" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                    commodo consequat.
                                                </div>
                                            </div>
                                        </div>

                                        <a class="btn btn-lg btn-danger" asp-controller="Home" asp-action="AddNewTask"><span class="glyphicon glyphicon-plus"></span>  New Task</a>
                                    </div>

                                    <a class="btn btn-lg btn-danger" asp-controller="Home" asp-action="AddNewTask"><span class="glyphicon glyphicon-plus"></span>  New Task</a>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionStory" href="#collapse1-2">
                                            Story 2: Database
                                        </a>
                                        <a class="btn btn-sm" asp-controller="Home" asp-action="EditStory"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <label class="pull-right">New</label>
                                    </h4>
                                </div>
                                <div id="collapse1-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat.
                                        </p>
                                        <a class="btn btn-lg btn-danger" asp-controller="Home" asp-action="AddNewTask"><span class="glyphicon glyphicon-plus"></span>  New Task</a>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse1-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat.
                                    </p>
                                    <a class="btn btn-lg btn-danger" asp-controller="Home" asp-action="AddNewTask"><span class="glyphicon glyphicon-plus"></span>  New Task</a>
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-lg btn-success" asp-controller="Home" asp-action="AddNewStory"><span class="glyphicon glyphicon-plus"></span>  New Story</a>
                    </div>

                    <a class="btn btn-lg btn-success" asp-controller="Home" asp-action="AddNewStory"><span class="glyphicon glyphicon-plus"></span>  New Story</a>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionFeature" href="#collapse2">
                            Feature 2: Shopping Online
                        </a>
                        <a class="btn btn-sm" asp-controller="Home" asp-action="EditFeature"><span class="glyphicon glyphicon-pencil"></span></a>
                        <label class="pull-right">New</label>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                        <a class="btn btn-lg btn-success" asp-controller="Home" asp-action="AddNewStory"><span class="glyphicon glyphicon-plus"></span>  New Story</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionFeature" href="#collapse3">
                            Feature 3: Membership
                        </a>
                        <a class="btn btn-sm" asp-controller="Home" asp-action="EditFeature"><span class="glyphicon glyphicon-pencil"></span></a>
                        <label class="pull-right">New</label>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </p>
                        <a class="btn btn-lg btn-success" asp-controller="Home" asp-action="AddNewStory"><span class="glyphicon glyphicon-plus"></span>  New Story</a>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="clearfix">
        <div class="pull-left">
            <a class="btn btn-lg btn-primary" asp-controller="Home" asp-action="AddNewFeature" asp-route-projectid="@Model._id"><span class="glyphicon glyphicon-plus"></span>  New feature</a>
            <a class="btn btn-lg btn-default" asp-controller="Membership" asp-action="Index" asp-route-projectid="@Model._id"><span class="glyphicon glyphicon-user"></span> Manage member</a>
        </div>
    </div>
</div>