@model taaproject.Services.WorkService.StoryModel
@{
    ViewData["Title"] = "Edit Story";
}

<div style="margin: 2em 0em">
    <a class="btn btn-lg btn-default" asp-controller="Home" asp-action="Detail" asp-route-id="@Model.Project_id"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    <h2>Edit story</h2>
    <hr />

    <form asp-controller="Home" asp-action="EditStory" method="post" style="margin-top: 1em">
        @Html.HiddenFor(it => it._id)
        @Html.HiddenFor(it => it.Feature_id)
        @Html.HiddenFor(it => it.Project_id)

        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>Story</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="WorkName"></label>
                    <input asp-for="WorkName" class="form-control" readonly>
                    <span asp-validation-for="WorkName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="Description..." rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CloseDate"></label>
                    <input asp-for="CloseDate" class="form-control" />
                    <span asp-validation-for="CloseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateBy"></label>
                    <input asp-for="CreateBy" readonly class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="AssignTo"></label>
                    <select asp-for="AssignTo" class="form-control">
                        <option value="@string.Empty">Unassign</option>
                        @foreach (var item in ViewBag.AssignmentList)
                    {
                        <option value="@item">@item</option>
                }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Status"></label>
                    <select asp-for="Status" class="form-control">
                        <option value="@taaproject.Services.WorkService.WorkStatus.New.ToString()">New</option>
                        <option value="@taaproject.Services.WorkService.WorkStatus.Active.ToString()">Active</option>
                        <option value="@taaproject.Services.WorkService.WorkStatus.Done.ToString()">Done</option>
                    </select>
                </div>
                <p class="text-danger"><i>@ViewBag.ErrorMessage</i></p>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
</div>