@model List<taaproject.Services.ProjectService.ProjectModel>
@{
    ViewData["Title"] = "Your project";
}
<h2>@ViewData["Title"] <a class="btn btn-info" asp-action="Create">New Project</a></h2>
<hr />
@foreach (var item in Model)
{
    <div class="well row clearfix">
        <div class="col-md-3 text-center">
            <img src="https://dummyimage.com/200x200/000/fff" />
        </div>
        <div class="col-md-9">
            <dl>
                <dt>@item.ProjectName</dt>
                <dd>@item.Description</dd>
            </dl>
            <a class="btn btn-primary" asp-action="Detail" asp-route-id="@item._id">View</a>
            <a class="btn btn-danger pull-right" asp-action="Delete" asp-route-id="@item._id">Delete</a>
        </div>
    </div>
}

@if (Model == null || Model.Count == 0)
{
    <p class="text-center">ไม่มีโปรเจคที่คุณเป็นสมาชิก</p>
}
