@model project_v2.Models.MembershipManagementModel
@{
    ViewData["Title"] = "AllMemberships";
    string selectedAccountId = string.Empty;
}

<a asp-action="Detail" asp-route-projectid="@Model.ProjectId" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ</a>
<h2>จัดการสมาชิกภายในโปรเจค</h2>
<hr />

<div class="row" style="margin-top: 2em">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>สมาชิกของโปรเจค</h4></div>
            <div class="panel-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th width="250">ชื่อ</th>
                            <th>อีเมล์</th>
                            <th width="100">ตำแหน่ง</th>
                            <th width="100">เปลี่ยนตำแหน่ง</th>
                            <th width="100">ลบออก</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Memberships.Any())
                        {
                            @foreach (var item in Model.Memberships)
                            {
                                <tr>
                                    <td>@item.AccountName</td>
                                    <td>@item.Email</td>
                                    <td>@item.RankName</td>
                                    <td>
                                        @if (item.ProjectRank_id == ViewBag.RankMaster)
                                        {
                                            <a class="text-center btn btn-default disabled"><span class="glyphicon glyphicon-sort"></span></a>
                                        }
                                        else
                                        {
                                            <a class="text-center btn btn-success" data-toggle="modal" data-target="#ChangeRankModal" onclick="editmodel('@item.Account_id','@item.ProjectRank_id')"><span class="glyphicon glyphicon-sort"></span></a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.ProjectRank_id == ViewBag.RankMaster)
                                        {
                                            <a class="pull-right btn btn-default disabled"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                        }
                                        else
                                        {
                                            <a asp-action="RemoveMembership" asp-route-projectid="@Model.ProjectId" asp-route-accountid="@item.Account_id" class="pull-right btn btn-danger"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="text-center"><i>ไม่มีรายชื่อเหลืออยู่</i></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>รายชื่อคนที่ไม่ได้อยู่ในโปรเจค</h4></div>
            <div class="panel-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th width="150">เพิ่มเข้าโปรเจค</th>
                            <th width="250">ชื่อ</th>
                            <th>อีเมล์</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.NonMemberships.Any())
                        {
                            @foreach (var item in Model.NonMemberships)
                            {
                                <tr>
                                    <td><a asp-action="AddMembership" asp-route-projectid="@Model.ProjectId" asp-route-accountid="@item._id" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></a></td>
                                    <td>@item.AccountName</td>
                                    <td>@item.Email</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="text-center"><i>ไม่มีรายชื่อเหลืออยู่</i></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- Change Rank modal -->
<div class="modal fade" id="ChangeRankModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div id="divRank"></div>
    </div>
</div>

<script type="text/javascript">
    function editmodel(accountid, rankid) {
        $("#divRank").load("/Project/ChangeMembershipRank?projectid=" + '@Model.ProjectId' + "&accountid=" + accountid + "&rankid=" + rankid);
    }
</script>