@model project_v2.Models.EditRankModel
@{
    Layout = null;
}
<form class="modal-content" asp-action="ChangeMembershipRank">
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.AccountId)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">เปลี่ยนตำแหน่งงานให้กับสมาชิก</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <label>ชื่อ</label>
            </div>
            <div class="col-sm-9">
                <p>@Model.Name</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <label>อีเมล์</label>
            </div>
            <div class="col-sm-9">
                <p>@Model.Email</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <label>ตำแหน่ง</label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" asp-for="RankId">
                    @foreach (var item in Model.Ranks)
                    {
                        <option value="@item._id">@item.RankName</option>
                    }
                </select>
            </div>
        </div>

        <hr />

        <h4>ความสามารถเพิ่มเติม</h4>
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">

                <div class="checkbox">
                    <label>
                        <input asp-for="CanSeeAllWork" /> @Html.DisplayNameFor(model => model.CanSeeAllWork)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="CanEditAllWork" /> @Html.DisplayNameFor(model => model.CanEditAllWork)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="CanAssign" /> @Html.DisplayNameFor(model => model.CanAssign)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="BeAssigned" /> @Html.DisplayNameFor(model => model.BeAssigned)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="CanCreateFeature" /> @Html.DisplayNameFor(model => model.CanCreateFeature)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="CanCreateStoryUnderSelf" /> @Html.DisplayNameFor(model => model.CanCreateStoryUnderSelf)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="CanCreateTaskUnderSelf" /> @Html.DisplayNameFor(model => model.CanCreateTaskUnderSelf)
                    </label>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>

        <button class="btn btn-primary" type="submit">ยืนยันการเปลี่ยนตำแหน่ง</button>
    </div>
</form>
