@model project_v2.Models.ProjectModel
@{
    ViewData["Title"] = "Detail";
}

<a asp-controller="Project" asp-action="Index" asp-route-projectid="@Model._id" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ</a>

<div class="panel panel-primary" style="margin-top: 2em">
    <div class="panel-heading">รายละเอียดโปรเจค</div>
    <div class="panel-body">

        <!-- Project detail -->
        <label asp-for="ProjectName"></label>
        <p>@Model.ProjectName</p>
        <label asp-for="Description"></label>
        <p>@Model.Description</p>
        <label asp-for="Department"></label>
        <p>@Model.Department</p>
        <label>วันที่สร้างโปรเจค</label>
        <p>@Model.CreateDate.ToShortDateString()</p>
        <label>วันที่เสร็จสิ้นโปรเจค</label>
        <p>@Model.ClosingDate.ToShortDateString()</p>

        @if (!Context.Session.TryGetValue("LoginData", out byte[] user) || user.Length == 0)
        {
            var json = System.Text.Encoding.UTF8.GetString(user);
            var userdata = Newtonsoft.Json.JsonConvert.DeserializeObject<AccountModel>(json);
            if (userdata.ProjectCreatable)
            {
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-9">
                        <a asp-controller="Project" asp-action="Edit" asp-route-projectid="@Model._id" class="btn btn-block btn-primary">แก้ไข</a>
                    </div>
                </div>
            }
        }

        <hr />

        <!-- Project member -->
        <div class="row">
            <div class="col-sm-2">
                <h3 style="margin-top: unset">สมาชิก (2)</h3>
            </div>
            <div class="col-sm-3 col-sm-offset-7">
                <a class="btn btn-block btn-success"><span class="glyphicon glyphicon-user"></span> จัดการสมาชิกภายในโปรเจค</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>อีเมล์</th>
                    <th>ตำแหน่ง</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>เอิน</td>
                    <td>earn@gmail.com</td>
                    <td>ผู้จัดการ</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>กัปตัน</td>
                    <td>captain@gmail.com</td>
                    <td>หัวหน้าฝ่ายตลาด</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>