@model project_v2.Models.ProjectDetailModel
@{
    ViewData["Title"] = "Detail";

    var totalWorkDays = (Model.Project.ClosingDate.Date - Model.Project.CreateDate.Date).Days;
    var remainingWorkDays = (Model.Project.ClosingDate.Date - DateTime.Now.Date).Days;
    int count = 1;
}

<a asp-controller="Project" asp-action="Index" asp-route-projectid="@Model.Project._id" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ</a>

<div class="panel panel-primary" style="margin-top: 2em">
    <div class="panel-heading"><h3>รายละเอียดโปรเจค</h3></div>
    <div class="panel-body">

        <!-- Project detail -->
        <div class="row">
            <div class="col-lg-3">
                <label asp-for="Project.ProjectName"></label>
            </div>
            <div class="col-lg-9">
                <p>@Model.Project.ProjectName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label asp-for="Project.Description"></label>
            </div>
            <div class="col-lg-9">
                <p>@Model.Project.Description</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label asp-for="Project.CreateDate"></label>
            </div>
            <div class="col-lg-9">
                <p>@Model.Project.CreateDate.ToShortDateString()</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label asp-for="Project.ClosingDate"></label>
            </div>
            <div class="col-lg-9">
                <p>@Model.Project.ClosingDate.ToShortDateString()</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label>จำนวนวันทั้งหมดที่มีทั้งหมด</label>
            </div>
            <div class="col-lg-9">
                <p>@totalWorkDays วัน</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label>จำนวนวันทำงานที่เหลือ</label>
            </div>
            <div class="col-lg-9">
                <p>@remainingWorkDays วัน</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-sm-offset-9">
                @if (ViewBag.CanEditProject)
                {
                    <a asp-action="Edit" asp-route-projectid="@Model.Project._id" class="btn btn-block btn-primary">แก้ไขรายละเอียดโปรเจค</a>
                }
            </div>
        </div>

        <hr />

        <!-- Project member -->
        <div class="row">
            <div class="col-sm-2">
                <h3 style="margin-top: unset">สมาชิก (@Model.Memberships.Count())</h3>
            </div>
            <div class="col-sm-3 col-sm-offset-7">
                @if (ViewBag.CanEditMember)
                {
                    <a asp-action="AllMemberships" asp-route-projectid="@Model.Project._id" class="btn btn-block btn-success"><span class="glyphicon glyphicon-user"></span> จัดการสมาชิกภายในโปรเจค</a>
                }
            </div>
        </div>
        <table class="table" style="margin-top: 2em">
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อ</th>
                    <th>อีเมล์</th>
                    <th>ตำแหน่ง</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Memberships)
                {
                    <tr>
                        <td>@(count++)</td>
                        <td>@item.AccountName</td>
                        <td>@item.Email</td>
                        <td>@item.RankName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>