@model project_v2.Models.ProjectDetailModel
@{
    ViewData["Title"] = "Index";

    const int minimumValue = 1;
    int featureSideMenuCount = minimumValue;
    int featureContentCount = minimumValue;

    int storySideMenuCount = minimumValue;
    int storyContentCount = minimumValue;

    int taskSideMenuCount = minimumValue;
    int taskContentCount = minimumValue;

    var remainingWorks = Model.Features.Where(it => it.StatusName == "Done").Count(); //TODO: Stories and Tasks
    var totalWorks = Model.Features.Count(); //TODO: Stories and Tasks
}

<a asp-controller="Home" asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ</a>

<div class="panel panel-primary" style="margin-top: 2em">
    <div class="panel-heading">ข้อมูลเบื้องต้นของโปรเจค</div>
    <div class="panel-body">
        <label asp-for="Project.ProjectName"></label>
        <p>@Model.Project.ProjectName</p>
        <label asp-for="Project.Description">รายละเอียด</label>
        <p>@Model.Project.Description</p>
        <label>สมาชิกทั้งหมด</label>
        <p>@Model.Memberships.Count()</p>
        <label>งานทั้งหมด</label>
        <p>@($"{remainingWorks}/{totalWorks}") (@(totalWorks < minimumValue ? "0" : string.Format("{0:00} %", (remainingWorks / totalWorks) * 100)))</p>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <a asp-controller="Project" asp-action="Detail" asp-route-projectid="@Model.Project._id" class="btn btn-block btn-default">ดูรายละเอียดของโปรเจค</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 2em">

    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Model.Features)
            {
                <li class="@(featureSideMenuCount == minimumValue? "active": string.Empty)"><a data-toggle="tab" href="#feature@(featureSideMenuCount)">@item.Name</a></li>
                featureSideMenuCount++;
            }
            <li><a asp-controller="Work" asp-action="CreateFeature" asp-route-projectid="@Model.Project._id"><span class="glyphicon glyphicon-plus"></span> สร้างงานหลัก</a></li>
        </ul>
    </div>
    <div class="col-sm-10">
        @if (Model.Features.Count() >= minimumValue)
        {
            <div class="panel panel-primary">
                <div class="tab-content panel-body">

                    @foreach (var feature in Model.Features)
                    {
                        <div id="feature@(featureContentCount)" class="row tab-pane fade in @(featureContentCount == minimumValue ? "active" : string.Empty)">

                            <div style="margin-bottom: 2em">
                                <div class="col-sm-3">
                                    <h2>รายละเอียด</h2>
                                </div>
                                <div class="col-sm-9">
                                    <p><b>ชื่อ: </b>@feature.Name</p>
                                    <p><b>รายละเอียด: </b>@feature.Description</p>
                                    <p><b>สร้างโดย: </b>@feature.CreateByMemberName</p>
                                    <p>
                                        <b>มอบหมายโดย: </b>
                                        @if (!string.IsNullOrEmpty(feature.AssginByMemberName))
                                        {
                                            <span>@feature.AssginByMemberName</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </p>
                                    <p>
                                        <b>ผู้รับมอบหมาย: </b>
                                        @if (!string.IsNullOrEmpty(feature.BeAssignedMemberName))
                                        {
                                            <span>@feature.BeAssignedMemberName</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </p>
                                </div>
                                <div class="row"></div>
                                <hr class="clearfix" />

                                <div class="col-sm-3">
                                    <h2>สถานะงาน</h2>
                                </div>
                                <div class="col-sm-9">
                                    <p><b>คาดการณ์วันที่งานต้องเสร็จสิ้น: </b>@feature.ClosingDate.ToShortDateString()</p>
                                    <p>
                                        <b>วันที่งานเสร็จสิ้นจริง: </b>
                                        @if (feature.WorkDoneDate.HasValue)
                                        {
                                            @feature.WorkDoneDate.Value.ToShortDateString()
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </p>
                                    <p>
                                        <b>สถานะ: </b>
                                        @if (!string.IsNullOrEmpty(feature.StatusName))
                                        {
                                            <span>@feature.StatusName</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-8">
                                        <div class="col-sm-6">
                                            <a class="btn btn-block btn-default" asp-controller="Work" asp-action="FeatureDetail" asp-route-projectid="@feature.Project_id" asp-route-featureid="@feature._id">ดูรายละเอียด</a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="btn btn-block btn-danger" asp-controller="Work" asp-action="DeleteFeature" asp-route-projectid="@feature.Project_id" asp-route-featureid="@feature._id">ลบ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="clearfix" />

                            <div class="col-sm-3">
                                <ul class="nav nav-pills nav-stacked">
                                    @foreach (var storySideMenu in feature.Stories)
                                    {
                                        <li class="@(storySideMenuCount == minimumValue? "active": string.Empty)"><a data-toggle="tab" href="#story@(storySideMenuCount)">@storySideMenu.Name</a></li>
                                        storySideMenuCount++;
                                    }
                                    <li><a asp-controller="Work" asp-action="CreateStory" asp-route-projectid="@Model.Project._id" asp-route-featureid="@feature._id"><span class="glyphicon glyphicon-plus"></span> สร้างงานรอง</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-9">

                                @if (feature.Stories.Count() >= minimumValue)
                                {
                                    @foreach (var storyContent in feature.Stories)
                                    {
                                        <div class="panel" style="border: 1px solid #76a771">
                                            <div class="tab-content panel-body">

                                                <div id="story@(storyContentCount)" class="row tab-pane fade in @(storyContentCount == minimumValue ? "active" : string.Empty)">
                                                    
                                                    <div style="margin-bottom: 2em">
                                                        <div class="col-sm-3">
                                                            <h3>รายละเอียด</h3>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <p><b>ชื่อ: </b>@storyContent.Name</p>
                                                            <p><b>รายละเอียด: </b>@storyContent.Description</p>
                                                            <p><b>สร้างโดย: </b>@storyContent.CreateByMemberName</p>
                                                            <p>
                                                                <b>มอบหมายโดย: </b>
                                                                @if (!string.IsNullOrEmpty(storyContent.AssginByMemberName))
                                                                {
                                                                    <span>@storyContent.AssginByMemberName</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            </p>
                                                            <p>
                                                                <b>ผู้รับมอบหมาย: </b>
                                                                @if (!string.IsNullOrEmpty(storyContent.BeAssignedMemberName))
                                                                {
                                                                    <span>@storyContent.BeAssignedMemberName</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            </p>
                                                        </div>
                                                        <div class="row"></div>
                                                        <hr class="clearfix" />

                                                        <div class="col-sm-3">
                                                            <h3>สถานะงาน</h3>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <p><b>คาดการณ์วันที่งานต้องเสร็จสิ้น: </b>@storyContent.ClosingDate.ToShortDateString()</p>
                                                            <p>
                                                                <b>วันที่งานเสร็จสิ้นจริง: </b>
                                                                @if (storyContent.WorkDoneDate.HasValue)
                                                                {
                                                                    @storyContent.WorkDoneDate.Value.ToShortDateString()
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            </p>
                                                            <p>
                                                                <b>สถานะ: </b>
                                                                @if (!string.IsNullOrEmpty(storyContent.StatusName))
                                                                {
                                                                    <span>@storyContent.StatusName</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            </p>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-5 col-sm-offset-7">
                                                                <div class="col-sm-6">
                                                                    <a class="btn btn-block btn-default" asp-controller="Work" asp-action="StoryDetail" asp-route-projectid="@feature.Project_id" asp-route-featureid="@feature._id" asp-route-storyid="@storyContent._id">ดูรายละเอียด</a>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <a class="btn btn-block btn-danger" asp-controller="Work" asp-action="DeleteStory" asp-route-projectid="@feature.Project_id" asp-route-storyid="@storyContent._id">ลบ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="clearfix" />

                                                    <div class="col-sm-4">
                                                        <ul class="nav nav-pills nav-stacked">
                                                            @foreach (var taskSideMenu in storyContent.Tasks)
                                                            {
                                                                <li class="@(taskSideMenuCount == minimumValue? "active": string.Empty)"><a data-toggle="tab" href="#task@(taskSideMenuCount)">@taskSideMenu.Name</a></li>
                                                                taskSideMenuCount++;
                                                            }
                                                            <li><a asp-controller="Work" asp-action="CreateTask" asp-route-projectid="@Model.Project._id" asp-route-featureid="@feature._id"><span class="glyphicon glyphicon-plus"></span> สร้างงานย่อย</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-sm-8">

                                                        @if (storyContent.Tasks.Count() >= minimumValue)
                                                        {
                                                            @foreach (var taskContent in storyContent.Tasks)
                                                            {
                                                                <div class="panel" style="border: 1px solid #5ca9e1">
                                                                    <div class="tab-content">
                                                                        <div id="task@(taskContentCount)" class="tab-pane fade in active">


                                                                            <div style="margin-bottom: 2em">
                                                                                <div class="col-sm-3">
                                                                                    <h2>รายละเอียด</h2>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <p><b>ชื่อ: </b>@taskContent.Name</p>
                                                                                    <p><b>รายละเอียด: </b>@taskContent.Description</p>
                                                                                    <p><b>สร้างโดย: </b>@taskContent.CreateByMemberName</p>
                                                                                    <p>
                                                                                        <b>มอบหมายโดย: </b>
                                                                                        @if (!string.IsNullOrEmpty(taskContent.AssginByMemberName))
                                                                                        {
                                                                                            <span>@taskContent.AssginByMemberName</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>-</span>
                                                                                        }
                                                                                    </p>
                                                                                    <p>
                                                                                        <b>ผู้รับมอบหมาย: </b>
                                                                                        @if (!string.IsNullOrEmpty(taskContent.BeAssignedMemberName))
                                                                                        {
                                                                                            <span>@taskContent.BeAssignedMemberName</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>-</span>
                                                                                        }
                                                                                    </p>
                                                                                </div>
                                                                                <div class="row"></div>
                                                                                <hr class="clearfix" />

                                                                                <div class="col-sm-3">
                                                                                    <h2>สถานะงาน</h2>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <p><b>คาดการณ์วันที่งานต้องเสร็จสิ้น: </b>@taskContent.ClosingDate.ToShortDateString()</p>
                                                                                    <p>
                                                                                        <b>วันที่งานเสร็จสิ้นจริง: </b>
                                                                                        @if (taskContent.WorkDoneDate.HasValue)
                                                                                        {
                                                                                            @taskContent.WorkDoneDate.Value.ToShortDateString()
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>-</span>
                                                                                        }
                                                                                    </p>
                                                                                    <p>
                                                                                        <b>สถานะ: </b>
                                                                                        @if (!string.IsNullOrEmpty(taskContent.StatusName))
                                                                                        {
                                                                                            <span>@taskContent.StatusName</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>-</span>
                                                                                        }
                                                                                    </p>
                                                                                </div>

                                                                                <div class="row">
                                                                                    <div class="col-sm-4 col-sm-offset-8">
                                                                                        <div class="col-sm-6">
                                                                                            <a class="btn btn-block btn-default" asp-controller="Work" asp-action="TaskDetail" asp-route-projectid="@feature.Project_id" asp-route-taskid="@storyContent._id">ดูรายละเอียด</a>
                                                                                        </div>
                                                                                        <div class="col-sm-6">
                                                                                            <a class="btn btn-block btn-danger" asp-controller="Work" asp-action="DeleteTask" asp-route-projectid="@feature.Project_id" asp-route-taskid="@storyContent._id">ลบ</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                taskContentCount++;
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        storyContentCount++;
                                    }
                                }
                            </div>
                        </div>
                        featureContentCount++;
                    }

                </div>
            </div>
        }
    </div>
</div>