@model project_v2.Models.ProjectDetailModel
@{
    ViewData["Title"] = "Index";

    const int minimumValue = 1;
    int featureSideMenuCount = minimumValue;
    int featureContentCount = minimumValue;

    int storySideMenuCount = minimumValue;
    int storyContentCount = minimumValue;

    int taskSideMenuCount = minimumValue;
    int taskContentCount = minimumValue;

    var today = DateTime.Now.Date;
    var startDate = Model.Project.CreateDate.Date;
    var lateDate = Model.Project.ClosingDate.Date < today ? Model.Project.ClosingDate.Date : today;
    var totalWorks = Model.Features.Sum(ft => ft.Stories.Sum(st => st.Tasks.Count())) + Model.Features.Sum(ft => ft.Stories.Count()) + Model.Features.Count();
    List<double> remaining = new List<double> { };
    List<double> done = new List<double> { };
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['วันที่', 'จำนวนงานเสร็จของวัน', 'จำนวนงานที่เหลือ'],
            @for (var i = startDate; i <= lateDate; i = i.AddDays(1))
            {
                var doneToday = Model.Features.Sum(ft => ft.Stories.Sum(st => st.Tasks.Where(t => t.WorkDoneDate.HasValue).Count())) + Model.Features.Sum(ft => ft.Stories.Where(st => st.WorkDoneDate.HasValue).Count()) + Model.Features.Where(ft => ft.WorkDoneDate.HasValue).Count();
                var remainToday = totalWorks - done.Sum();
                @Html.Raw($"['{i.ToShortDateString()}', {doneToday}, {remainToday}]");
                if (i != lateDate) {
                    @Html.Raw(",");
                }
                done.Add(doneToday);
                remaining.Add(remainToday);
            }
        ]);

        var options = {
            title: 'ความก้าวหน้าของโปรเจ็ค',
            curveType: 'function',
            legend: { position: 'bottom' }
    };

    var chart = new google.visualization.AreaChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
    }
</script>
<a asp-controller="Home" asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> ย้อนกลับ</a>

<div class="panel panel-primary" style="margin-top: 2em">
    <div class="panel-heading">ข้อมูลเบื้องต้นของโปรเจค</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <dl>
                    <dt>ชื่อโปรเจค</dt>
                    <dd>@Model.Project.ProjectName</dd>
                    <dt>รายละเอียด</dt>
                    <dd>@Model.Project.Description</dd>
                </dl>
            </div>
            <div class="col-lg-6">
                <dl>
                    <dt>สมาชิกทั้งหมด</dt>
                    <dd>@Model.Memberships.Count()</dd>
                    @if (Model.Project.ClosingDate.Date > today)
                    {
                        <dt>จำนวนวันทำงานเหลือ</dt>
                        <dd>@((Model.Project.ClosingDate.Date - today).TotalDays + 1) วัน</dd>
                        <dt>คาดคะเนค่าเฉลี่ยของงานที่ต้องทำต่อวัน</dt>
                        <dd>@((remaining.LastOrDefault() / ((Model.Project.ClosingDate.Date - today).TotalDays + 1)).ToString("#0.##")) งาน/วัน</dd>

                    }
                </dl>
            </div>
            <div class="col-lg-6">
                <dl>
                    <dt>งานทั้งหมด</dt>
                    <dd>@totalWorks งาน</dd>
                    <dt>จำนวนงานเสร็จ</dt>
                    <dd>@(done.Sum()) งาน (@(done.Sum() / totalWorks * 100)%)</dd>
                    <dt>ค่าเฉลี่ยของงานเสร็จต่อวัน</dt>
                    <dd>@(done.Sum() / Math.Round((lateDate - startDate).TotalDays + 1)) งาน/วัน</dd>
                    <dt>จำนวนงานเหลือ</dt>
                    <dd>@(remaining.LastOrDefault()) งาน (@(remaining.LastOrDefault() / totalWorks * 100)%)</dd>
                </dl>
            </div>
        </div>
        <div id="curve_chart" style="min-width:100%; padding-bottom: 20px;"></div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <a asp-controller="Project" asp-action="Detail" asp-route-projectid="@Model.Project._id" class="btn btn-block btn-default">ดูรายละเอียดของโปรเจค</a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 2em">

    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Model.Features)
            {
                <li class="@(featureSideMenuCount == minimumValue? "active": string.Empty)"><a data-toggle="tab" href="#feature@(featureSideMenuCount)">@item.Name</a></li>
                featureSideMenuCount++;
            }
            <li><a asp-controller="Work" asp-action="CreateFeature" asp-route-projectid="@Model.Project._id"><span class="glyphicon glyphicon-plus"></span> สร้างงานหลัก</a></li>
        </ul>
    </div>
    <div class="col-sm-10">
        @if (Model.Features.Count() >= minimumValue)
        {
            <div class="panel panel-primary">
                <div class="tab-content panel-body">

                    @foreach (var featureContent in Model.Features)
                    {
                        <div id="feature@(featureContentCount)" class="row tab-pane fade in @(featureContentCount == minimumValue ? "active" : string.Empty)">

                            <div style="margin-bottom: 2em">
                                <div class="col-sm-3">
                                    <h2>รายละเอียด</h2>
                                </div>
                                <div class="col-sm-9">
                                    <p><b>ชื่อ: </b>@featureContent.Name</p>
                                    <p><b>รายละเอียด: </b>@featureContent.Description</p>
                                    <p><b>สร้างโดย: </b>@featureContent.CreateByMemberName</p>
                                    <p>
                                        <b>มอบหมายโดย: </b>
                                        @if (!string.IsNullOrEmpty(featureContent.AssginByMemberName))
                                        {
                                            <span>@featureContent.AssginByMemberName</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </p>
                                    <p>
                                        <b>ผู้รับมอบหมาย: </b>
                                        @if (!string.IsNullOrEmpty(featureContent.BeAssignedMemberName))
                                        {
                                            <span>@featureContent.BeAssignedMemberName</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </p>
                                </div>
                                <div class="row"></div>
                                <hr class="clearfix" />

                                <div class="col-sm-3">
                                    <h2>สถานะงาน</h2>
                                </div>
                                <div class="col-sm-9">
                                    <p><b>คาดการณ์วันที่งานต้องเสร็จสิ้น: </b>@featureContent.ClosingDate.ToShortDateString()</p>
                                    <p>
                                        <b>วันที่งานเสร็จสิ้นจริง: </b>
                                        @if (featureContent.WorkDoneDate.HasValue)
                                        {
                                            @featureContent.WorkDoneDate.Value.ToShortDateString()
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </p>
                                    <p>
                                        <b>สถานะ: </b>
                                        @if (!string.IsNullOrEmpty(featureContent.StatusName))
                                        {
                                            <span>@featureContent.StatusName</span>
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </p>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-8">
                                        <div class="col-sm-6">
                                            <a class="btn btn-block btn-default" asp-controller="Work" asp-action="FeatureDetail" asp-route-projectid="@featureContent.Project_id" asp-route-featureid="@featureContent._id">ดูรายละเอียด</a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="btn btn-block btn-danger" asp-controller="Work" asp-action="DeleteFeature" asp-route-projectid="@featureContent.Project_id" asp-route-featureid="@featureContent._id">ลบ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="clearfix" />

                            <div class="col-sm-2">
                                <ul class="nav nav-pills nav-stacked">
                                    @foreach (var storySideMenu in featureContent.Stories)
                                    {
                                        <li class="@(storySideMenuCount == minimumValue? "active": string.Empty)"><a data-toggle="tab" href="#story@(storySideMenuCount)">@storySideMenu.Name</a></li>
                                        storySideMenuCount++;
                                    }
                                    <li><a asp-controller="Work" asp-action="CreateStory" asp-route-projectid="@Model.Project._id" asp-route-featureid="@featureContent._id"><span class="glyphicon glyphicon-plus"></span> สร้างงานรอง</a></li>
                                </ul>
                            </div>

                            <div class="col-sm-10">
                                @if (featureContent.Stories.Count() >= minimumValue)
                                {
                                    <div class="panel" style="border: 1px solid #76a771">
                                        <div class="tab-content panel-body">

                                            @foreach (var storyContent in featureContent.Stories)
                                            {
                                                <div id="story@(storyContentCount)" class="row tab-pane fade in @(storyContentCount == minimumValue ? "active" : string.Empty)">

                                                    <div style="margin-bottom: 2em">
                                                        <div class="col-sm-3">
                                                            <h3>รายละเอียด</h3>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <p><b>ชื่อ: </b>@storyContent.Name</p>
                                                            <p><b>รายละเอียด: </b>@storyContent.Description</p>
                                                            <p><b>สร้างโดย: </b>@storyContent.CreateByMemberName</p>
                                                            <p>
                                                                <b>มอบหมายโดย: </b>
                                                                @if (!string.IsNullOrEmpty(storyContent.AssginByMemberName))
                                                                {
                                                                    <span>@storyContent.AssginByMemberName</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            </p>
                                                            <p>
                                                                <b>ผู้รับมอบหมาย: </b>
                                                                @if (!string.IsNullOrEmpty(storyContent.BeAssignedMemberName))
                                                                {
                                                                    <span>@storyContent.BeAssignedMemberName</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            </p>
                                                        </div>
                                                        <div class="row"></div>
                                                        <hr class="clearfix" />

                                                        <div class="col-sm-3">
                                                            <h3>สถานะงาน</h3>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <p><b>คาดการณ์วันที่งานต้องเสร็จสิ้น: </b>@storyContent.ClosingDate.ToShortDateString()</p>
                                                            <p>
                                                                <b>วันที่งานเสร็จสิ้นจริง: </b>
                                                                @if (storyContent.WorkDoneDate.HasValue)
                                                                {
                                                                    @storyContent.WorkDoneDate.Value.ToShortDateString()
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            </p>
                                                            <p>
                                                                <b>สถานะ: </b>
                                                                @if (!string.IsNullOrEmpty(storyContent.StatusName))
                                                                {
                                                                    <span>@storyContent.StatusName</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            </p>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-5 col-sm-offset-7">
                                                                <div class="col-sm-6">
                                                                    <a class="btn btn-block btn-default" asp-controller="Work" asp-action="StoryDetail" asp-route-projectid="@featureContent.Project_id" asp-route-featureid="@featureContent._id" asp-route-storyid="@storyContent._id">ดูรายละเอียด</a>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <a class="btn btn-block btn-danger" asp-controller="Work" asp-action="DeleteStory" asp-route-projectid="@featureContent.Project_id" asp-route-storyid="@storyContent._id">ลบ</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="clearfix" />

                                                    <div class="col-sm-3">
                                                        <ul class="nav nav-pills nav-stacked">
                                                            @foreach (var taskSideMenu in storyContent.Tasks)
                                                            {
                                                                <li class="@(taskSideMenuCount == minimumValue? "active": string.Empty)"><a data-toggle="tab" href="#task@(taskSideMenuCount)">@taskSideMenu.Name</a></li>
                                                                taskSideMenuCount++;
                                                            }
                                                            <li><a asp-controller="Work" asp-action="CreateTask" asp-route-projectid="@Model.Project._id" asp-route-featureid="@featureContent._id" asp-route-storyid="@storyContent._id"><span class="glyphicon glyphicon-plus"></span> สร้างงานย่อย</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-sm-9">

                                                        @if (storyContent.Tasks.Count() >= minimumValue)
                                                        {
                                                            <div class="panel" style="border: 1px solid #5ca9e1">
                                                                <div class="tab-content panel-body">

                                                                    @foreach (var taskContent in storyContent.Tasks)
                                                                    {
                                                                        <div id="task@(taskContentCount)" class="row tab-pane fade in @(taskContentCount == minimumValue ? "active" : string.Empty)">

                                                                            <div style="margin-bottom: 2em">
                                                                                <div class="col-sm-3">
                                                                                    <h4>รายละเอียด</h4>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <p><b>ชื่อ: </b>@taskContent.Name</p>
                                                                                    <p><b>รายละเอียด: </b>@taskContent.Description</p>
                                                                                    <p><b>สร้างโดย: </b>@taskContent.CreateByMemberName</p>
                                                                                    <p>
                                                                                        <b>มอบหมายโดย: </b>
                                                                                        @if (!string.IsNullOrEmpty(taskContent.AssginByMemberName))
                                                                                        {
                                                                                            <span>@taskContent.AssginByMemberName</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>-</span>
                                                                                        }
                                                                                    </p>
                                                                                    <p>
                                                                                        <b>ผู้รับมอบหมาย: </b>
                                                                                        @if (!string.IsNullOrEmpty(taskContent.BeAssignedMemberName))
                                                                                        {
                                                                                            <span>@taskContent.BeAssignedMemberName</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>-</span>
                                                                                        }
                                                                                    </p>
                                                                                </div>
                                                                                <div class="row"></div>
                                                                                <hr class="clearfix" />

                                                                                <div class="col-sm-3">
                                                                                    <h4>สถานะงาน</h4>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <p><b>คาดการณ์วันที่งานต้องเสร็จสิ้น: </b>@taskContent.ClosingDate.ToShortDateString()</p>
                                                                                    <p>
                                                                                        <b>วันที่งานเสร็จสิ้นจริง: </b>
                                                                                        @if (taskContent.WorkDoneDate.HasValue)
                                                                                        {
                                                                                            @taskContent.WorkDoneDate.Value.ToShortDateString()
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>-</span>
                                                                                        }
                                                                                    </p>
                                                                                    <p>
                                                                                        <b>สถานะ: </b>
                                                                                        @if (!string.IsNullOrEmpty(taskContent.StatusName))
                                                                                        {
                                                                                            <span>@taskContent.StatusName</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>-</span>
                                                                                        }
                                                                                    </p>
                                                                                </div>

                                                                                <div class="row">
                                                                                    <div class="col-sm-6 col-sm-offset-6">
                                                                                        <div class="col-sm-6">
                                                                                            <a class="btn btn-block btn-default" asp-controller="Work" asp-action="TaskDetail" asp-route-projectid="@featureContent.Project_id" asp-route-featureid="@featureContent._id" asp-route-storyid="@storyContent._id" asp-route-taskid="@taskContent._id">ดูรายละเอียด</a>
                                                                                        </div>
                                                                                        <div class="col-sm-6">
                                                                                            <a class="btn btn-block btn-danger" asp-controller="Work" asp-action="DeleteTask" asp-route-projectid="@featureContent.Project_id" asp-route-taskid="@taskContent._id">ลบ</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        taskContentCount++;
                                                                    }

                                                                </div>
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                                storyContentCount++;
                                            }

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        featureContentCount++;
                    }

                </div>
            </div>
        }
    </div>
</div>
