@model List<project_v2.Models.AccountModel>
@{
    ViewData["Title"] = "AccountManage";
}

<h2>จัดการสมาชิกทั้งระบบ</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>บัญผู้ใช้</th>
            <th>ชื่อ</th>
            <th>อีเมล์</th>
            <th>ตำแหน่งงาน</th>
            <th>หน่วยงาน</th>
            <th>เบอร์โทรศัพท์</th>
            <th>อายุ</th>
            <th>สร้างโปรเจค</th>
            <th>Admin</th>
            <th>ระงับใช้งาน</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.AccountName</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>@user.WorkPosition</td>
                <td>@user.Department</td>
                <td>@user.Telephone</td>
                @if (user.BirthDate.HasValue)
                {
                    <td>@(DateTime.Now.Year - user.BirthDate.Value.Year)</td>
                }
                else
                {
                    <td>-</td>
                }
                <td class="text-center">
                    @if (user.ProjectCreatable)
                    {
                        <span class="glyphicon glyphicon-ok"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-remove"></span>
                    }
                </td>
                <td class="text-center">
                    @if (user.IsAdmin)
                    {
                        <span class="glyphicon glyphicon-ok"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-remove"></span>
                    }
                </td>
                <td class="text-center">
                    @if (user.SuspendDate.HasValue)
                    {
                        <span class="glyphicon glyphicon-ok"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-remove"></span>
                    }
                </td>
                <td><a asp-action="EditAccount" asp-route-id="@user._id">แก้ไข</a></td>
            </tr>
        }
    </tbody>
</table>

