@model project_v2.Models.DisplayFeatureModel
@{
    ViewData["Title"] = "FeatureDetail";

    const int minimumValue = 0;
}

<h2>รายละเอียดงานหลัก</h2>

<hr />
<div class="panel panel-default">
    <div class="panel-body bg-info">
        <h3>รายละเอียดงาน</h3>
        <div class="row" style="margin-top: 2em">
            <div class="col-sm-11 col-sm-offset-1">
                <p><b>โปรเจคที่งานสังกัด: </b>@ViewBag.ProjectName</p>

                <hr style="border-top: 1px solid grey" />

                <p><b><label asp-for="Name"></label>: </b> @Model.Name</p>
                <p><b><label asp-for="Description"></label>: </b> @Model.Description</p>
                <p>
                    <b><label asp-for="WorkReport"></label>: </b>
                    @if (!string.IsNullOrEmpty(Model.WorkReport))
                    {
                        <span>@Model.WorkReport</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
                <p><b><label asp-for="CreateDate"></label>: </b> @Model.CreateDate.ToShortDateString()</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h3>การติดตามงาน</h3>
        <div class="row" style="margin-top: 2em">
            <div class="col-sm-11 col-sm-offset-1">
                <p><b><label asp-for="CreateByMember_id"></label>: </b>@Model.CreateByMemberName</p>
                <p>
                    <b><label asp-for="AssginByMember_id"></label>: </b>
                    @if (!string.IsNullOrEmpty(Model.AssginByMember_id))
                    {
                        <span>@Model.AssginByMemberName</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
                <p>
                    <b><label asp-for="BeAssignedMember_id"></label>: </b>
                    @if (!string.IsNullOrEmpty(Model.BeAssignedMember_id))
                    {
                        <span>@Model.BeAssignedMemberName</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
                <p>
                    <b><label asp-for="StatusName"></label>: </b>
                    @if (!string.IsNullOrEmpty(Model.StatusName))
                    {
                        <span>@Model.StatusName</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
                <p>
                    <b><label asp-for="ClosingDate"></label>: </b> @Model.ClosingDate.ToShortDateString()
                    @if (Model.ClosingDate.Date > DateTime.Now.Date)
                    {
                        <span>(เหลือ @((Model.ClosingDate.Date - DateTime.Now.Date).Days) วัน)</span>
                    }
                    else if (Model.ClosingDate.Date == DateTime.Now.Date)
                    {
                        <span class="text-danger">(งานต้องเสร็จภายในวันนี้)</span>
                    }
                    else
                    {
                        <span>(หมดเวลาทำงาน)</span>
                    }
                </p>
                <p>
                    <b><label asp-for="WorkDoneDate"></label>: </b>
                    @if (Model.WorkDoneDate.HasValue)
                    {
                        @Model.WorkDoneDate.Value.ToShortDateString()
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-8">
        <div class="@(ViewBag.CanEditOrUpdateThisWork? "col-md-6": "col-md-6 col-md-offset-6")">
            <a asp-controller="Project" asp-action="Index" asp-route-projectid="@Model.Project_id" class="btn btn-block btn-default">ย้อนกลับ</a>
        </div>
        @if (ViewBag.CanEditOrUpdateThisWork)
        {
            <div class="col-md-6">
                <a class="btn btn-block btn-primary" asp-action="EditFeature" asp-route-projectid="@Model.Project_id" asp-route-featureid="@Model._id">ปรับปรุงรายละเอียด</a>
            </div>
        }
    </div>
</div>

@if (Model.assignmentHistories != null && Model.assignmentHistories.Count() > minimumValue)
{
    <h3>รายการย้อนหลัง</h3>

    @foreach (var item in Model.assignmentHistories)
    {
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel @(!item.AbandonDate.HasValue? "panel-success":"panel-default")">
                    @if (!item.AbandonDate.HasValue)
                    {
                        <div class="panel-heading">
                            <span>กำลังดำเนินการ</span>
                        </div>
                    }
                    <dvi class="panel-body">
                        <div class="col-md-12">
                            <p><b>ผู้รับมอบหมาย: </b>@item.MemberName</p>
                            <p><b>สถานะงานล่าสุด: </b>@item.LastestWorkStatus</p>
                            <p><b>วันที่รับมอบหมายงาน: </b>@item.AssignDate.ToShortDateString()</p>
                            <p>
                                <b>วันที่เปลี่ยนคนรับมอบหมาย: </b>
                                @if (item.AbandonDate.HasValue)
                                {
                                    <span>@item.AbandonDate.Value.ToShortDateString()</span>
                                }
                                else
                                {
                                    <span>กำลังดำเนินการ</span>
                                }
                            </p>
                        </div>
                    </dvi>
                </div>
            </div>
        </div>
    }

}