@model project_v2.Models.DisplayTaskModel
@{
    ViewData["Title"] = "TaskDetail";

    const int minimumValue = 0;
}

<h2>รายละเอียดงานย่อย</h2>

<hr />
<div class="panel panel-default">
    <div class="panel-body bg-info">
        <h3>รายละเอียดงาน</h3>
        <div class="row" style="margin-top: 2em">
            <div class="col-sm-11 col-sm-offset-1">
                <p><b>โปรเจคที่งานสังกัด: </b>@ViewBag.ProjectName</p>
                <p><b>งานหลักที่งานสังกัด: </b>@ViewBag.FeatureName</p>
                <p><b>งานรองที่งานสังกัด: </b>@ViewBag.StoryName</p>

                <hr style="border-top: 1px solid grey" />

                <p><b><label asp-for="Name"></label>: </b> @Model.Name</p>
                <p><b><label asp-for="Description"></label>: </b> @Model.Description</p>
                <p>
                    <b><label asp-for="WorkReport"></label>: </b>
                    @if (!string.IsNullOrEmpty(Model.WorkReport))
                    {
                        <span>@Model.WorkReport</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
                <p><b><label asp-for="CreateDate"></label>: </b> @Model.CreateDate.ToShortDateString()</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h3>การติดตามงาน</h3>
        <div class="row" style="margin-top: 2em">
            <div class="col-sm-11 col-sm-offset-1">
                <p><b><label asp-for="CreateByMember_id"></label>: </b>@Model.CreateByMemberName</p>
                <p>
                    <b><label asp-for="AssginByMember_id"></label>: </b>
                    @if (!string.IsNullOrEmpty(Model.AssginByMember_id))
                    {
                        <span>@Model.AssginByMemberName</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
                <p>
                    <b><label asp-for="BeAssignedMember_id"></label>: </b>
                    @if (!string.IsNullOrEmpty(Model.BeAssignedMember_id))
                    {
                        <span>@Model.BeAssignedMemberName</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
                <p>
                    <b><label asp-for="StatusName"></label>: </b>
                    @if (!string.IsNullOrEmpty(Model.StatusName))
                    {
                        <span>@Model.StatusName</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
                <p>
                    <b><label asp-for="ClosingDate"></label>: </b> @Model.ClosingDate.ToShortDateString()
                    @if (Model.ClosingDate.Date > DateTime.Now.Date)
                    {
                        <span>(เหลือ @((Model.ClosingDate.Date - DateTime.Now.Date).Days) วัน)</span>
                    }
                    else if (Model.ClosingDate.Date == DateTime.Now.Date)
                    {
                        <span class="text-danger">(งานต้องเสร็จภายในวันนี้)</span>
                    }
                    else
                    {
                        <span>(หมดเวลาทำงาน)</span>
                    }
                </p>
                <p>
                    <b><label asp-for="WorkDoneDate"></label>: </b>
                    @if (Model.WorkDoneDate.HasValue)
                    {
                        @Model.WorkDoneDate.Value.ToShortDateString()
                    }
                    else
                    {
                        <span>-</span>
                    }
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @{
        var canCurrentUserEditOrUpdateThisWork = ViewBag.CanEditOrUpdateThisWork;
        var hasAnyAssignmentHistories = Model.assignmentHistories != null && Model.assignmentHistories.Count() > minimumValue;

        <div class="@(canCurrentUserEditOrUpdateThisWork && hasAnyAssignmentHistories? "col-md-offset-4":"col-md-offset-6")">
            <div class="@(canCurrentUserEditOrUpdateThisWork? "col-md-4": "col-md-4 col-md-offset-4")">
                <a asp-controller="Project" asp-action="Index" asp-route-projectid="@ViewBag.ProjectId" class="btn btn-block btn-default">ย้อนกลับ</a>
            </div>
            <div class="col-md-4">

                @if (hasAnyAssignmentHistories)
                {
                    <a asp-action="AssignHistory" asp-route-projectid="@ViewBag.ProjectId" asp-route-workid="@Model._id" asp-route-featureid="@ViewBag.FeatureId" asp-route-storyid="@Model.Story_id" asp-route-type="@project_v2.Models.WorkType.Story" class="btn btn-block btn-default">ประวัติมอบหมายงาน</a>
                }
                else
                {
                    <button class="btn btn-block btn-default" disabled>ไม่มีประวัติมอบหมายงาน</button>
                }
            </div>
            @if (canCurrentUserEditOrUpdateThisWork)
            {
                <div class="col-md-4">
                    <a class="btn btn-block btn-primary" asp-action="EditTask" asp-route-projectid="@ViewBag.ProjectId" asp-route-featureid="@ViewBag.FeatureId" asp-route-storyid="@Model.Story_id" asp-route-taskid="@Model._id">ปรับปรุงรายละเอียด</a>
                </div>
            }
        </div>

    }
</div>
