@model IEnumerable<project_v2.Models.ProjectModel>
@{
    ViewData["Title"] = "Home Page";
    const int minimumProjectCount = 1;
}

<!-- Project list -->
<div class="row">

    <!-- Content -->
    @if (Model != null && Model.Count() >= minimumProjectCount)
    {
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <a asp-controller="Project" asp-action="Index" asp-route-projectid="@item._id" style="text-decoration: none">
                    <div class="panel panel-primary">
                        <div class="panel-heading">@item.ProjectName</div>
                        <div class="panel-body">

                            @if (item.Description.Count() > 40)
                            {
                                <p>@(item.Description.Substring(0, 40) + "...")</p>
                            }
                            else
                            {
                                <p>@item.Description</p>
                                <p style="margin-top: 4em"><label asp-for="@item.ClosingDate"></label>: @item.ClosingDate.ToShortDateString()</p>
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <!-- Project not found -->
        <h1 class="col-sm-12 text-center">ไม่มีรายการโปรเจค</h1>
    }

    @if (ViewBag.User.ProjectCreatable)
    {
        <div class="col-sm-4">
            <a id="createProjectBox" asp-controller="Project" asp-action="Create" style="color: gray">
                <div id="createProjectBorder" class="text-center" style="border: 2px dotted lightgray; height: 179px; margin:auto; padding: 50px 10px; border-radius: 5px 5px">
                    <h2 class="glyphicon glyphicon-plus">สร้างโปรเจคใหม่</h2>
                </div>
            </a>
        </div>
    }

</div>